# Punto 2 Búsqueda binaria usando índice invertido (BSII)
## Integrantes
* Juan Esteban Arboleda
* Luccas Rojas

### 1. Preprocesamiento
Lo primero que se llevara a cabo para poder hacer la busqueda binaria a travez de indice invertido es la tokenizacion de los documentos y generacion del vocabulario. Ademas es importante tener en cuenta que el vocabulario debe estar ordenado, no debe contener stop-words, debe estar stemizado y normalizado

* A continucion se cargan los documentos y los queries en una estructura de datos, se debe cambiar document_path y query_path por la ruta donde se encuentran los documentos y los queries respectivamente

In [2]:
import os
import pandas as pd
import numpy as np

# Rutas a definir segun la ubicacion de los archivos
DOCUMENTS_PATH = '../data/docs-raw-texts'
QUERIES_PATH = '../data/queries-raw-texts'

def load_documents(folder_path: str) -> pd.DataFrame:
    """
    Returns a Pandas DataFrame where each row represents a document in folder_path.
    The DataFrame will have as many rows as there are documents in folder_path

        Parameters
        ----------
            folder_path: str
                The path to the folder that contains the documents to load
    
        Returns
        --------
            documents: pd.DataFrame
                Pandas DataFrame with two columns: "filename" and "body"
    """
    documents = []
    index = []
    id = 1
    columns = {'filename', 'body'}
    for filename in os.listdir(folder_path):
        text = pd.read_xml(os.path.join(folder_path, filename))['raw'].tolist()[1]
        filtered_text = text.replace('\n', ' ').replace('\xa0', ' ')
        document = [filename, filtered_text]
        documents.append(document)
        index.append(id)
        id += 1

    return pd.DataFrame(documents, index, columns)

documents = load_documents(DOCUMENTS_PATH)
queries = load_documents(QUERIES_PATH)

Primero que todo tokenizamos el texto, para esto utilizamos el word tokenize de la libreria NLTK

In [3]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('stopwords')

documents['tokens'] = documents['body'].apply(word_tokenize)
queries['tokens'] = queries['body'].apply(word_tokenize)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\juanc\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\juanc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Removemos todos los signos de puntuacion, contracciones del ingles y dejamos el texto todo en minusculas (normalizar)

In [4]:
import string

def remove_punctuation(token_list):
    return [token.lower() for token in token_list if (token not in string.punctuation and (len(token)>1 or token.isnumeric()))]

documents['tokens']=documents['tokens'].apply(lambda x: remove_punctuation(x))
queries['tokens']=queries['tokens'].apply(lambda x: remove_punctuation(x))

print(documents)

             filename                                               body  \
1    wes2015.d001.naf  William Beaumont and the Human Digestion.  Wil...
2    wes2015.d002.naf  Selma Lagerlöf and the wonderful Adventures of...
3    wes2015.d003.naf  Ferdinand de Lesseps and the Suez Canal.  Ferd...
4    wes2015.d004.naf  Walt Disney’s ‘Steamboat Willie’ and the Rise ...
5    wes2015.d005.naf  Eugene Wigner and the Structure of the Atomic ...
..                ...                                                ...
327  wes2015.d327.naf  James Parkinson and Parkinson’s Disease.  Wood...
328  wes2015.d328.naf  Juan de la Cierva and the Autogiro.  Demonstra...
329  wes2015.d329.naf  Squire Whipple – The Father of the Iron Bridge...
330  wes2015.d330.naf  William Playfair and the Beginnings of Infogra...
331  wes2015.d331.naf  Juan Bautista de Anza and the Route to San Fra...

                                                tokens
1    [william, beaumont, and, the, human, digestion...
2    [selma, lagerlöf, and, the, wonderful, adventu...
3    [ferdinand, de, lesseps, and, the, suez, canal...
4    [walt, disney, steamboat, willie, and, the, ri...
5    [eugene, wigner, and, the, structure, of, the,...
..                                                 ...
327  [james, parkinson, and, parkinson, disease, wo...
328  [juan, de, la, cierva, and, the, autogiro, dem...
329  [squire, whipple, the, father, of, the, iron, ...
330  [william, playfair, and, the, beginnings, of, ...
331  [juan, bautista, de, anza, and, the, route, to...

[331 rows x 3 columns]

Luego de tokenizar, dejar todo en minusculas, quitaremos las stop words para que reduzcan el vocabulario y no afecten el resultado final. Para esto usaremos la libreria nltk y su metodo stopwords.words('english').

In [5]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

#TODO no se si normalizar cuente como poner todo en minusculas
def remove_stop_words(token_list):
    return [token for token in token_list if token not in stop_words]

documents['tokens']=documents['tokens'].apply(lambda x: remove_stop_words(x))
queries['tokens']=queries['tokens'].apply(lambda x: remove_stop_words(x))

Luego de eliminar las stop words se hace stemming a las palabras restantes.

In [6]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
def stemming(token_list):
    return [stemmer.stem(token) for token in token_list]

documents['tokens']=documents['tokens'].apply(lambda x: stemming(x))
queries['tokens']=queries['tokens'].apply(lambda x: stemming(x))

En este punto el texto de cada documento y query esta en un formato mas facil de procesar, por lo que se procede a realizar la representacion vectorial de los documentos y queries.

## 2. Representación de los datos

A continuación se hace la implementación para transformar el anterior dataframe en una estructura de indice inertido para así poder realizar busquedas binarias

In [7]:
print(documents.loc[1])
documents.loc[1]

filename                                     wes2015.d001.naf
body        William Beaumont and the Human Digestion.  Wil...
tokens      [william, beaumont, human, digest, william, be...
Name: 1, dtype: object

filename                                     wes2015.d001.naf
body        William Beaumont and the Human Digestion.  Wil...
tokens      [william, beaumont, human, digest, william, be...
Name: 1, dtype: object

In [17]:
documents.loc

In [19]:
def create_inverted_index(documents: pd.DataFrame) -> dict:
    """
    Creates the inverted index for a document set.

    Params
    ------
        documents: pd.DataFrame
            A Pandas DataFrame that represents the document set. The
            DataFrame should have the following columns: "filename", "body".
            DataFrame's index should correspond to the document id
        
    Returns
    -------
        inverted_index: dict
            A python dictionary that represents the inverted index.
            Keys are the terms in the vocabulary.
            Each value has a "df" (document frecuency) and "postings".
            "postings" are a numpy array
    """
    inverted_index = {}

    for id, document in documents.iterrows():
        for token in document['tokens']:
            if token not in inverted_index:
                inverted_index[token] = {"df": 0, "postings": np.array([], dtype=np.uint64)}
            if id not in inverted_index[token]["postings"]:
                inverted_index[token]["df"] += 1
                inverted_index[token]["postings"] = np.append(inverted_index[token]["postings"],
                                                                np.array([id], dtype=np.uint64))
    
    return inverted_index

{'william': {'df': 50,
  'postings': array([  1,   9,  15,  28,  35,  55,  56,  69,  78,  88,  91,  92,  95,
          98, 102, 106, 109, 111, 129, 136, 138, 147, 175, 179, 180, 189,
         190, 191, 193, 197, 212, 230, 231, 241, 254, 257, 266, 272, 273,
         274, 289, 291, 294, 299, 300, 309, 310, 320, 323, 330],
        dtype=uint64)},
 'beaumont': {'df': 1, 'postings': array([1], dtype=uint64)},
 'human': {'df': 59,
  'postings': array([  1,   2,   7,  12,  32,  36,  46,  50,  51,  53,  54,  55,  62,
          84,  86,  91, 102, 113, 118, 120, 131, 146, 161, 173, 174, 190,
         191, 192, 194, 197, 198, 204, 206, 210, 213, 215, 219, 222, 232,
         241, 249, 251, 261, 263, 266, 276, 279, 283, 290, 294, 296, 300,
         306, 310, 312, 313, 314, 317, 319], dtype=uint64)},
 'digest': {'df': 6,
  'postings': array([  1,  49,  54, 102, 263, 314], dtype=uint64)},
 'physiolog': {'df': 12,
  'postings': array([  1,  37,  46,  62, 113, 120, 133, 191, 261, 286, 294, 314],
        dtype=uint64)},
 'imag': {'df': 66,
  'postings': array([  1,   4,   8,  15,  17,  18,  20,  21,  30,  36,  40,  54,  64,
          68,  73,  76,  79,  81,  89,  90,  93,  97, 101, 107, 110, 113,
         114, 117, 119, 120, 127, 128, 142, 150, 155, 156, 166, 169, 173,
         183, 184, 186, 192, 196, 198, 204, 223, 256, 263, 266, 267, 268,
         274, 282, 283, 285, 287, 290, 297, 299, 300, 307, 311, 319, 321,
         323], dtype=uint64)},
 'sourc': {'df': 36,
  'postings': array([  1,  15,  25,  33,  41,  45,  53,  80,  82,  85,  96,  97, 101,
         104, 119, 136, 138, 147, 148, 150, 154, 161, 172, 177, 194, 203,
         218, 261, 267, 278, 280, 289, 294, 299, 309, 323], dtype=uint64)},
 'novemb': {'df': 52,
  'postings': array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
          14,  15,  16,  17,  18,  19,  20,  21,  23,  29,  48,  52,  61,
          64,  72,  73, 109, 113, 126, 128, 132, 148, 150, 166, 181, 202,
         212, 213, 214, 229, 234, 239, 241, 250, 257, 272, 277, 289, 317],
        dtype=uint64)},
 '21': {'df': 20,
  'postings': array([  1,  32,  69,  72,  99, 102, 128, 138, 145, 156, 159, 216, 229,
         236, 259, 277, 289, 299, 316, 328], dtype=uint64)},
 '1785': {'df': 9,
  'postings': array([  1,  26,  43,  74,  86, 184, 245, 288, 318], dtype=uint64)},
 'us-american': {'df': 7,
  'postings': array([  1,  28,  32,  73, 277, 312, 329], dtype=uint64)},
 'surgeon': {'df': 15,
  'postings': array([  1,  10,  46,  49,  54,  62,  73,  84, 190, 194, 258, 270, 309,
         310, 327], dtype=uint64)},
 'born': {'df': 267,
  'postings': array([  1,   2,   3,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
          15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  26,  27,  28,
          29,  30,  31,  32,  33,  34,  35,  37,  38,  39,  40,  41,  42,
          43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
          56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  67,  68,  69,
          70,  71,  72,  73,  74,  75,  76,  77,  79,  80,  81,  83,  84,
          85,  87,  88,  89,  92,  93,  94,  95,  96,  97,  98,  99, 100,
         101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 112, 113, 114,
         115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 129,
         130, 131, 133, 135, 136, 137, 139, 140, 142, 143, 147, 148, 149,
         150, 151, 152, 158, 159, 160, 162, 164, 165, 166, 168, 170, 171,
         174, 175, 177, 178, 180, 181, 183, 184, 185, 186, 188, 190, 191,
         192, 193, 194, 195, 197, 198, 200, 202, 205, 206, 207, 209, 210,
         212, 215, 216, 218, 221, 225, 226, 227, 229, 230, 231, 232, 233,
         234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
         247, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
         261, 262, 263, 264, 265, 267, 268, 269, 270, 271, 273, 274, 275,
         276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 288, 289,
         290, 291, 292, 293, 294, 296, 298, 299, 300, 302, 303, 304, 305,
         306, 307, 308, 309, 310, 312, 313, 314, 316, 317, 318, 320, 321,
         324, 325, 327, 328, 329, 330, 331], dtype=uint64)},
 'becam': {'df': 248,
  'postings': array([  1,   2,   3,   5,   6,   7,   8,  10,  11,  12,  13,  14,  15,
          16,  17,  18,  19,  20,  21,  22,  24,  26,  27,  28,  29,  30,
          31,  32,  33,  36,  37,  38,  39,  40,  41,  43,  44,  46,  48,
          49,  51,  53,  54,  55,  57,  58,  60,  61,  64,  65,  66,  68,
          69,  70,  71,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,
          83,  84,  85,  86,  87,  88,  92,  93,  94,  95,  96,  99, 100,
         101, 102, 103, 104, 105, 106, 109, 110, 111, 112, 113, 116, 117,
         118, 120, 122, 123, 124, 126, 129, 130, 131, 132, 133, 134, 135,
         136, 138, 139, 140, 141, 142, 143, 144, 146, 147, 148, 149, 150,
         151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 162, 164, 168,
         169, 170, 171, 173, 174, 175, 178, 180, 181, 182, 184, 185, 186,
         188, 189, 190, 191, 192, 193, 194, 195, 197, 198, 200, 201, 202,
         203, 204, 205, 206, 207, 210, 211, 212, 214, 215, 218, 221, 222,
         224, 226, 227, 230, 231, 232, 234, 235, 237, 238, 240, 241, 242,
         244, 246, 247, 248, 249, 250, 251, 253, 254, 255, 256, 257, 259,
         260, 261, 262, 263, 265, 266, 268, 269, 270, 271, 273, 274, 277,
         278, 279, 280, 281, 282, 283, 285, 286, 287, 288, 290, 291, 293,
         294, 295, 296, 300, 302, 303, 304, 305, 306, 307, 308, 309, 310,
         312, 314, 316, 317, 318, 319, 321, 322, 323, 324, 325, 328, 329,
         331], dtype=uint64)},
 'best': {'df': 109,
  'postings': array([  1,   2,   5,  14,  26,  29,  30,  31,  32,  33,  34,  35,  38,
          39,  42,  43,  47,  51,  52,  54,  62,  64,  65,  68,  69,  72,
          73,  75,  77,  89,  94,  96,  98,  99, 106, 108, 113, 115, 118,
         122, 123, 125, 126, 129, 130, 131, 135, 143, 145, 151, 152, 158,
         162, 164, 168, 170, 174, 179, 183, 184, 191, 200, 201, 202, 205,
         206, 207, 209, 212, 215, 221, 222, 227, 230, 231, 232, 235, 237,
         243, 244, 246, 249, 252, 253, 255, 256, 257, 263, 268, 269, 274,
         280, 282, 286, 288, 289, 290, 291, 292, 294, 299, 304, 305, 307,
         310, 316, 318, 327, 329], dtype=uint64)},
 'known': {'df': 224,
  'postings': array([  1,   2,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,  16,
          17,  18,  21,  22,  23,  24,  26,  27,  28,  29,  30,  31,  32,
          33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,
          46,  47,  49,  51,  52,  53,  54,  57,  58,  60,  62,  63,  64,
          65,  67,  68,  69,  72,  73,  75,  76,  77,  79,  80,  81,  83,
          84,  85,  86,  87,  88,  89,  92,  96,  98,  99, 101, 102, 105,
         106, 108, 109, 110, 112, 113, 114, 115, 116, 117, 118, 119, 122,
         123, 125, 126, 129, 130, 131, 132, 135, 136, 138, 139, 140, 141,
         142, 143, 144, 146, 148, 151, 152, 153, 155, 156, 157, 158, 160,
         161, 162, 164, 165, 168, 169, 170, 171, 172, 174, 176, 177, 178,
         180, 183, 184, 188, 189, 190, 191, 194, 196, 197, 198, 200, 202,
         205, 206, 207, 209, 212, 214, 215, 217, 218, 219, 222, 226, 227,
         229, 230, 231, 232, 233, 234, 236, 237, 240, 241, 244, 246, 247,
         248, 249, 251, 252, 253, 255, 256, 262, 263, 267, 268, 269, 270,
         271, 272, 274, 275, 278, 280, 281, 282, 283, 284, 285, 286, 287,
         288, 289, 290, 291, 292, 293, 294, 296, 299, 300, 302, 304, 305,
         309, 310, 311, 312, 314, 315, 316, 317, 318, 321, 323, 324, 325,
         327, 328, 329], dtype=uint64)},
 'father': {'df': 136,
  'postings': array([  1,   3,   5,   9,  14,  16,  17,  20,  21,  22,  24,  25,  26,
          28,  29,  31,  33,  37,  40,  45,  48,  50,  53,  57,  59,  65,
          69,  71,  72,  74,  79,  80,  84,  85,  86,  87,  88,  92,  95,
         100, 102, 103, 105, 108, 109, 116, 119, 120, 121, 122, 124, 130,
         133, 135, 136, 137, 139, 142, 143, 147, 148, 149, 150, 153, 156,
         157, 160, 163, 166, 168, 170, 171, 173, 184, 186, 189, 190, 193,
         194, 197, 202, 205, 209, 211, 212, 215, 216, 221, 222, 225, 233,
         236, 241, 242, 243, 244, 245, 246, 249, 252, 253, 254, 255, 257,
         258, 259, 260, 261, 262, 264, 267, 268, 271, 274, 278, 281, 282,
         283, 290, 293, 294, 296, 302, 303, 304, 305, 309, 310, 312, 313,
         316, 318, 324, 327, 329, 330], dtype=uint64)},
 'gastric': {'df': 1, 'postings': array([1], dtype=uint64)},
 'follow': {'df': 112,
  'postings': array([  1,   2,   3,   6,  10,  12,  13,  14,  18,  20,  25,  26,  28,
          30,  32,  33,  34,  39,  52,  54,  55,  56,  57,  63,  66,  67,
          76,  86,  92, 100, 105, 106, 109, 111, 112, 113, 119, 120, 126,
         129, 132, 133, 134, 135, 137, 140, 141, 142, 147, 149, 150, 152,
         153, 154, 156, 158, 159, 160, 161, 164, 165, 166, 167, 168, 170,
         174, 175, 176, 177, 179, 180, 182, 183, 185, 186, 187, 189, 190,
         199, 200, 212, 216, 221, 229, 235, 241, 243, 244, 245, 250, 251,
         254, 255, 261, 262, 266, 275, 281, 283, 284, 291, 295, 298, 303,
         305, 310, 316, 317, 323, 325, 327, 328], dtype=uint64)},
 'research': {'df': 117,
  'postings': array([  1,   5,  13,  14,  18,  20,  21,  23,  24,  29,  30,  39,  40,
          41,  43,  46,  48,  50,  52,  55,  60,  61,  62,  63,  71,  73,
          75,  81,  82,  87,  88,  89,  91,  93, 104, 108, 110, 111, 113,
         114, 117, 119, 121, 122, 123, 124, 125, 126, 130, 131, 133, 136,
         142, 157, 160, 162, 163, 164, 175, 180, 186, 189, 192, 193, 194,
         196, 198, 199, 205, 208, 212, 213, 214, 215, 216, 226, 227, 230,
         234, 241, 244, 246, 248, 250, 251, 252, 253, 257, 259, 261, 262,
         263, 264, 265, 266, 268, 269, 271, 279, 280, 286, 290, 292, 294,
         296, 298, 300, 301, 303, 304, 306, 307, 308, 312, 314, 319, 327],
        dtype=uint64)},
 'lebanon': {'df': 1, 'postings': array([1], dtype=uint64)},
 'connecticut': {'df': 7,
  'postings': array([  1,  28,  65, 114, 133, 156, 256], dtype=uint64)},
 'physician': {'df': 33,
  'postings': array([  1,   7,  10,  12,  15,  19,  27,  34,  35,  37,  42,  49,  50,
          54,  62,  73,  79,  83, 118, 120, 133, 232, 241, 242, 249, 261,
         274, 275, 279, 308, 309, 310, 319], dtype=uint64)},
 'serv': {'df': 50,
  'postings': array([  1,  17,  28,  29,  32,  33,  34,  48,  49,  55,  67,  74,  75,
          76,  88,  89,  95, 100, 108, 116, 133, 145, 148, 157, 165, 167,
         168, 170, 173, 182, 192, 193, 194, 198, 202, 205, 210, 227, 241,
         244, 247, 249, 257, 262, 272, 286, 288, 296, 310, 329],
        dtype=uint64)},
 'mate': {'df': 2, 'postings': array([ 1, 49], dtype=uint64)},
 'armi': {'df': 33,
  'postings': array([  1,   3,  11,  25,  29,  44,  49,  55,  60,  75,  85,  90, 100,
         124, 134, 139, 142, 148, 149, 162, 167, 168, 185, 191, 192, 208,
         230, 247, 249, 269, 324, 328, 331], dtype=uint64)},
 'war': {'df': 88,
  'postings': array([  1,  11,  12,  16,  17,  18,  20,  21,  24,  28,  30,  32,  44,
          48,  54,  55,  60,  61,  71,  74,  75,  76,  90,  92,  94, 100,
         101, 107, 108, 109, 117, 124, 126, 130, 131, 134, 136, 137, 139,
         142, 143, 145, 147, 149, 150, 158, 162, 164, 166, 167, 168, 171,
         179, 184, 185, 193, 199, 203, 204, 205, 208, 210, 211, 222, 225,
         227, 231, 241, 242, 247, 249, 251, 253, 254, 268, 271, 277, 293,
         297, 302, 303, 305, 306, 323, 324, 325, 328, 331], dtype=uint64)},
 '1812': {'df': 9,
  'postings': array([  1,  29,  41,  95, 140, 185, 215, 304, 307], dtype=uint64)},
 'open': {'df': 50,
  'postings': array([  1,   3,  17,  19,  22,  25,  48,  60,  67,  71,  73,  87,  88,
          92,  97, 114, 115, 122, 130, 134, 136, 139, 141, 157, 168, 173,
         179, 188, 198, 202, 204, 206, 210, 212, 241, 254, 256, 257, 258,
         259, 267, 277, 293, 297, 314, 319, 320, 322, 329, 330],
        dtype=uint64)},
 'privat': {'df': 38,
  'postings': array([  1,   7,  21,  22,  29,  41,  42,  43,  48,  53,  54,  55,  56,
          79,  94, 121, 148, 151, 173, 178, 180, 182, 215, 232, 236, 242,
         251, 252, 257, 263, 267, 273, 283, 292, 304, 306, 308, 322],
        dtype=uint64)},
 'practic': {'df': 58,
  'postings': array([  1,   9,  10,  15,  16,  26,  33,  37,  38,  39,  42,  44,  49,
          50,  51,  52,  62,  68,  79,  80, 109, 111, 118, 134, 167, 168,
         173, 174, 175, 177, 183, 189, 190, 191, 194, 195, 200, 201, 215,
         232, 236, 238, 245, 249, 251, 255, 256, 261, 275, 277, 279, 295,
         300, 308, 312, 314, 327, 328], dtype=uint64)},
 'plattsburgh': {'df': 1, 'postings': array([1], dtype=uint64)},
 'new': {'df': 177,
  'postings': array([  1,   3,   4,   6,   8,  10,  11,  12,  13,  16,  17,  22,  23,
          24,  25,  26,  28,  31,  35,  40,  42,  46,  48,  54,  55,  56,
          57,  59,  61,  64,  65,  71,  72,  73,  75,  76,  77,  79,  83,
          86,  87,  88,  89,  90,  92,  96,  97,  98,  99, 100, 101, 106,
         107, 109, 111, 114, 115, 116, 117, 118, 120, 122, 123, 125, 128,
         130, 132, 133, 134, 135, 138, 140, 141, 142, 143, 144, 145, 146,
         149, 150, 154, 155, 157, 159, 162, 164, 167, 168, 173, 175, 176,
         177, 178, 179, 181, 184, 186, 187, 189, 190, 191, 192, 193, 194,
         196, 197, 199, 201, 202, 203, 204, 206, 208, 211, 212, 213, 214,
         215, 216, 217, 218, 221, 229, 231, 234, 236, 238, 240, 242, 247,
         250, 251, 252, 254, 256, 257, 258, 259, 260, 262, 263, 264, 268,
         269, 272, 273, 274, 278, 279, 280, 282, 283, 285, 290, 292, 293,
         294, 295, 296, 297, 298, 300, 302, 303, 305, 307, 308, 312, 314,
         315, 316, 319, 321, 323, 325, 329, 331], dtype=uint64)},
 'york': {'df': 56,
  'postings': array([  1,   4,   8,  13,  24,  25,  28,  64,  73,  76,  77,  97, 107,
         115, 116, 117, 125, 138, 142, 145, 149, 159, 161, 175, 179, 184,
         186, 193, 194, 197, 202, 206, 216, 231, 236, 238, 247, 251, 254,
         256, 257, 258, 274, 280, 289, 293, 294, 298, 300, 302, 308, 309,
         312, 321, 323, 329], dtype=uint64)},
 'rejoin': {'df': 1, 'postings': array([1], dtype=uint64)},
 '1819': {'df': 12,
  'postings': array([  1,  19,  40,  95,  98, 148, 149, 190, 191, 239, 285, 304],
        dtype=uint64)},
 'station': {'df': 17,
  'postings': array([  1,  59,  60,  65,  75,  81, 128, 155, 157, 182, 188, 199, 237,
         250, 270, 277, 301], dtype=uint64)},
 'fort': {'df': 6,
  'postings': array([  1,  96, 138, 258, 259, 331], dtype=uint64)},
 'mackinac': {'df': 1, 'postings': array([1], dtype=uint64)},
 'island': {'df': 24,
  'postings': array([  1,  11,  18,  39,  56,  88, 103, 109, 117, 119, 138, 141, 149,
         158, 164, 176, 188, 193, 196, 202, 239, 249, 250, 258],
        dtype=uint64)},
 'michigan': {'df': 10,
  'postings': array([  1,  55, 108, 125, 146, 193, 257, 271, 300, 321], dtype=uint64)},
 'earli': {'df': 158,
  'postings': array([  1,   3,   9,  14,  15,  16,  17,  18,  21,  22,  23,  24,  25,
          27,  29,  34,  35,  39,  45,  46,  48,  52,  54,  55,  56,  57,
          58,  60,  61,  63,  65,  66,  68,  69,  71,  73,  74,  76,  77,
          80,  81,  85,  86,  91,  93,  95,  97, 100, 101, 107, 109, 110,
         113, 115, 118, 122, 124, 126, 129, 130, 131, 132, 133, 135, 136,
         137, 138, 141, 142, 144, 146, 148, 151, 152, 154, 159, 167, 168,
         171, 172, 173, 174, 175, 185, 190, 192, 193, 194, 198, 199, 201,
         203, 204, 205, 209, 211, 212, 214, 215, 216, 218, 219, 221, 223,
         229, 230, 231, 232, 233, 234, 235, 237, 240, 241, 244, 247, 248,
         249, 250, 251, 255, 257, 259, 262, 263, 264, 268, 271, 273, 279,
         280, 281, 282, 283, 285, 289, 291, 293, 295, 299, 301, 303, 305,
         307, 310, 312, 313, 316, 319, 320, 322, 323, 324, 325, 328, 329,
         330, 331], dtype=uint64)},
 '1820': {'df': 15,
  'postings': array([  1,  42,  87,  95,  96, 113, 165, 168, 190, 191, 239, 252, 288,
         304, 316], dtype=uint64)},
 'exist': {'df': 46,
  'postings': array([  1,   5,  10,  12,  48,  67,  83,  90,  92,  98, 112, 113, 120,
         125, 134, 144, 148, 162, 169, 172, 173, 181, 184, 193, 198, 201,
         203, 215, 222, 229, 249, 250, 253, 256, 261, 269, 271, 272, 285,
         296, 299, 304, 305, 313, 315, 317], dtype=uint64)},
 'protect': {'df': 12,
  'postings': array([  1,  18,  25,  61,  89,  95, 162, 203, 206, 311, 320, 327],
        dtype=uint64)},
 'interest': {'df': 210,
  'postings': array([  1,   2,   4,   5,   6,   7,   8,   9,  11,  13,  14,  15,  16,
          17,  18,  20,  22,  26,  27,  28,  30,  32,  35,  36,  37,  39,
          42,  43,  44,  45,  46,  47,  48,  50,  51,  54,  55,  56,  57,
          58,  59,  60,  62,  63,  64,  65,  66,  69,  70,  71,  73,  74,
          75,  76,  77,  79,  80,  81,  83,  85,  86,  88,  89,  91,  95,
          97,  98,  99, 101, 104, 106, 107, 110, 111, 114, 119, 121, 122,
         124, 125, 126, 127, 128, 130, 131, 132, 133, 135, 136, 140, 141,
         142, 143, 145, 146, 147, 148, 149, 150, 151, 153, 154, 155, 156,
         157, 158, 159, 160, 161, 162, 163, 165, 166, 168, 170, 171, 172,
         173, 174, 176, 178, 179, 180, 181, 182, 183, 184, 186, 187, 188,
         189, 190, 191, 192, 194, 196, 197, 198, 199, 205, 209, 212, 218,
         221, 227, 228, 230, 231, 233, 234, 235, 238, 239, 240, 241, 243,
         248, 249, 251, 252, 256, 257, 259, 262, 263, 264, 265, 266, 267,
         269, 271, 272, 273, 274, 275, 276, 278, 279, 280, 281, 282, 283,
         287, 288, 289, 290, 291, 292, 294, 296, 298, 299, 302, 303, 305,
         310, 311, 312, 313, 315, 317, 319, 320, 321, 322, 324, 325, 327,
         328, 329], dtype=uint64)},
 'american': {'df': 83,
  'postings': array([  1,   5,   8,  13,  24,  28,  30,  42,  48,  51,  55,  57,  60,
          61,  64,  65,  71,  73,  81,  88,  89,  94,  95,  96,  97, 103,
         110, 114, 115, 117, 121, 123, 125, 131, 133, 142, 143, 145, 146,
         149, 156, 157, 158, 159, 162, 165, 167, 177, 182, 184, 186, 192,
         194, 197, 198, 202, 203, 205, 223, 230, 231, 236, 247, 249, 254,
         256, 257, 258, 265, 267, 268, 274, 276, 280, 293, 298, 302, 303,
         312, 315, 317, 323, 331], dtype=uint64)},
 'fur': {'df': 4, 'postings': array([ 1, 57, 95, 96], dtype=uint64)},
 'compani': {'df': 59,
  'postings': array([  1,   3,   4,   6,  18,  21,  23,  32,  34,  49,  57,  65,  66,
          69,  71,  73,  76,  77,  87,  89,  96,  97, 100, 102, 116, 125,
         137, 143, 159, 166, 175, 178, 182, 184, 186, 193, 195, 197, 203,
         208, 211, 213, 217, 223, 229, 231, 233, 253, 254, 259, 276, 299,
         303, 308, 309, 312, 320, 328, 330], dtype=uint64)},
 'refug': {'df': 4, 'postings': array([  1, 126, 132, 179], dtype=uint64)},
 'wound': {'df': 9,
  'postings': array([  1,  12,  32,  89, 118, 149, 157, 168, 324], dtype=uint64)},
 '19-year-old': {'df': 1, 'postings': array([1], dtype=uint64)},
 'french-canadian': {'df': 1, 'postings': array([1], dtype=uint64)},
 'trader': {'df': 1, 'postings': array([1], dtype=uint64)},
 'name': {'df': 120,
  'postings': array([  1,   5,   7,   9,  10,  11,  16,  19,  26,  27,  29,  34,  38,
          39,  41,  42,  48,  52,  53,  59,  60,  64,  69,  70,  75,  78,
          82,  84,  85,  88,  97,  98,  99, 104, 107, 113, 114, 115, 116,
         118, 119, 120, 121, 122, 124, 126, 132, 133, 135, 138, 139, 140,
         142, 146, 147, 148, 154, 156, 158, 162, 163, 164, 165, 166, 171,
         172, 175, 177, 179, 180, 184, 185, 186, 189, 190, 192, 193, 195,
         198, 203, 210, 215, 217, 222, 231, 232, 233, 234, 238, 239, 241,
         242, 243, 244, 247, 250, 252, 254, 255, 256, 263, 270, 272, 274,
         275, 279, 280, 283, 287, 292, 293, 294, 305, 314, 316, 317, 318,
         319, 323, 331], dtype=uint64)},
 'alexi': {'df': 2, 'postings': array([  1, 140], dtype=uint64)},
 'st.': {'df': 24,

Como se pudo observar en el anterior código, se crea un diccionario que almacenara el índice invertido haciendo un recorrido por cada uno de los documentos y sus tokens. Agregando así todos los tokens del vocabulario y añadiendo a cada token el listado de documentos que contienen ese token. El vocabulario final cuenta con 14682 tokens.

## 3. Modelamiento

In [9]:
#TODO funcion para and y algoritmo de merge

def organize_tokens(tokens,inverted_index):
    organized_tokens = []
    dfs = []
    for token in tokens:
        dfs.append(inverted_index[token]['df'])     
    dfs.sort()
    for df in dfs:
        for token in tokens:
            if inverted_index[token]['df'] == df:
                organized_tokens.append(token) 
                tokens.remove(token)
    return organized_tokens   

def and_search(tokens,inverted_index):
    organized_tokens = organize_tokens(tokens,inverted_index)
    relevant_documents = []
    token_document_index = [0 for i in range(len(organized_tokens))]
    while token_document_index[0] < len(inverted_index[organized_tokens[0]]['postings']):
        document = inverted_index[organized_tokens[0]]['postings'][token_document_index[0]]
        document_is_relevant = True
        token_index = 1
        while document_is_relevant:
            document_index=0
            while token_document_index[document_index] < len(inverted_index[organized_tokens[document_index]]['postings']) and inverted_index[organized_tokens[document_index]]['postings'][token_document_index[document_index]] < document:
            if inverted_index[organized_tokens[token_index]]['postings'][array_index[token_index]] == document:
                token_index += 1
                if token_index == len(organized_tokens):
                    relevant_documents.append(document)
                    document_is_relevant = False

        token_document_index[0] += 1
        

print(and_search(queries.iloc[2]['tokens'],inverted_index))

IndentationError: expected an indented block (928746149.py, line 27)